body{

margin:0;

font-family:Poppins,sans-serif;

background:linear-gradient(135deg,#667eea,#764ba2);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.card{

width:800px;

background:white;

padding:40px;

border-radius:30px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.3);

animation:pop .8s;

}

@keyframes pop{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

.emoji{

font-size:90px;

animation:bounce 1s infinite;

}

@keyframes bounce{

50%{

transform:translateY(-10px);

}

}

.progress{

height:25px;

background:#ddd;

border-radius:30px;

margin:20px 0;

overflow:hidden;

}

.bar{

height:100%;

background:linear-gradient(to right,#00e676,#00c853);

}

.missions{

background:#f5f7ff;

padding:20px;

border-radius:20px;

margin-top:20px;

text-align:left;

}

.missions li{

padding:12px;

font-size:18px;

}

.reward{

margin-top:25px;

background:#ffe082;

padding:20px;

border-radius:20px;

font-size:22px;

font-weight:bold;

}

.quote{

margin-top:30px;

font-style:italic;

font-size:20px;

color:#555;

}

button{

margin-top:30px;

padding:15px 45px;

font-size:18px;

background:#6a11cb;

color:white;

border:none;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}